.home .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.home .hero .background {
    position: absolute;
    height: 100vh;
    opacity: 0.35;
    filter: blur(1vh);
    z-index: -1;
}

.home .hero .logo {
    width: 30vw;
}

.home .hero .description {
    font-family: "Urbanist Medium", sans-serif;
    font-size: 2.0vh;
    text-align: center;
    color: var(--color-gray);
    margin-top: 2vh;
    width: 37vw;
}

.home .hero .description strong {
    color: var(--color-white);
    font-weight: 300;
}

.home .columns {
    display: flex;
    gap: 3vh;
}

.home .columns .column {
    width: 50%;

    font-family: "Urbanist", sans-serif;
    font-size: 2.0vh;
    color: var(--color-gray);
    text-align: justify;
    margin: 0;
}

.home .columns img {
    width: 100%;
}

.home .prelegend {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;

}

.home .legend {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: "Urbanist Medium", sans-serif;
    font-size: 2.0vh;
    color: var(--color-gray);
    text-align: center;
    margin-top: 2vh;
    width: 70%;
}

/* RESPONSIVE STYLES */

@media (max-width: 1300px) {
    .home .hero .description {
        width: 90vw;
    }
    
    .home .hero .logo {
        width: 70vw;
    }

    .home .columns { 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home .columns .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .columns .column img {
        max-width: 50%;
    }

    .home .legend {
        width: 100%
    }
}

@media (max-width: 650px) {
    .home .columns .column img {
        max-width: 100%;
    }
}