.block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 8vh;

    border-bottom: 0.1vh solid;
    border-top: 0.1vh solid;
    border-image: linear-gradient(to right, rgba(249, 249, 249, 0.1), rgba(249, 249, 249, 0.3), rgba(249, 249, 249, 0.1)) 1;

    background-color: var(--color-background-secondary);

    overflow: visible;

}

.block.image {
    border: none;
    background-repeat: repeat;
}

.block .image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    filter: blur(0.5vh);
    overflow: hidden;
    object-fit: cover;

    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2));
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2));
    pointer-events: none;
}