/* 

    /$$      /$$             /$$                                   /$$          
    | $$$    /$$$            | $$                                  |__/          
    | $$$$  /$$$$  /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$   /$$$$$$  /$$  /$$$$$$ 
    | $$ $$/$$ $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$ /$$__  $$| $$ |____  $$
    | $$  $$$| $$| $$$$$$$$  | $$    | $$  \__/| $$  \ $$| $$  \ $$| $$  /$$$$$$$
    | $$\  $ | $$| $$_____/  | $$ /$$| $$      | $$  | $$| $$  | $$| $$ /$$__  $$
    | $$ \/  | $$|  $$$$$$$  |  $$$$/| $$      |  $$$$$$/| $$$$$$$/| $$|  $$$$$$$
    |__/     |__/ \_______/   \___/  |__/       \______/ | $$____/ |__/ \_______/
                                                         | $$                    
                                                         | $$                    
                                                         |__/

*/

/* FONTS LOAD */

@font-face {
    font-family: "Urbanist";
    src: url("/fonts/Urbanist-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Urbanist Medium";
    src: url("/fonts/Urbanist-Medium.otf") format("truetype");
}

@font-face {
    font-family: "Urbanist SemiBold";
    src: url("/fonts/Urbanist-SemiBold.otf") format("truetype");
}

@font-face {
    font-family: "Urbanist Bold";
    src: url("/fonts/Urbanist-Bold.otf") format("truetype");
}

@font-face {
    font-family: "Urbanist ExtraBold";
    src: url("/fonts/Urbanist-ExtraBold.otf") format("truetype");
}

@font-face {
    font-family: "Urbanist Black";
    src: url("/fonts/Urbanist-Black.otf") format("truetype");
}


/* GLOBAL STYLES */
html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;

    --color-background-main: #10181B;
    --color-background-secondary: #0B1011;
    --color-white: #FFFFFF;
    --color-gray: #9D9D9D;
    --color-black: #040707;
    --color-primary: #97773D;
    --color-secondary: #325263;
    --color-borderwhite: rgba(255, 255, 255, 0.05);

    color: var(--color-white);

    background-color: var(--color-background-main);
    overflow-x: hidden;

    user-select: none;
}

.readzone {
    width: 64vw;
    overflow: visible;
    height: 100%;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    position: absolute;
    height: 0.4vh;
    width: 0.6vh;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    margin-right: 1.2vh;
    background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/* BUTTONS */
.mbutton {
    font-family: "Urbanist Bold", sans-serif;
    font-size: 2.8vh;
    color: var(--color-white);
    background-color: var(--color-secondary);
    padding: 0.8vh 1.5vh;
    border: 0.2vh solid var(--color-borderwhite);
    transition: 0.2s ease-in-out;
    user-select: none;
    opacity: 1.0;
}

.mbutton:hover {
    filter: brightness(1.2);
    opacity: 1.0;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    text-shadow: 0vh 0vh 3vh rgba(255, 255, 255, 0.623);
}

.mbutton.gold {
    background-color: var(--color-primary);
}

.mbutton.big {
    padding: 1.2vh 4.5vh;
}

.mbutton.small {
    font-size: 2.0vh;
    padding: 0.6vh 2.2vh;
    font-family: "Urbanist Medium", sans-serif;
}

.mbutton.stroked {
    outline: 0.1vh solid var(--color-white);
    outline-color: var(--color-secondary);
    outline-offset: 0.3vh;
}

.mbutton.stroked.gold {
    outline-color: var(--color-primary);
}

input {
    font-family: "Urbanist", sans-serif;
    font-size: 2.0vh;
    color: var(--color-white);
    background-color: transparent;
    border: 0.1vh solid var(--color-gray);
    padding: 0.5vh 1.0vh;
    outline: none;
    transition: 0.2s ease-in-out;
}

input:focus {
    border: 0.1vh solid var(--color-white);
    transition: 0.2s ease-in-out;
}



/* LOAD BAR */
#nprogress .bar {
background: var(--color-primary) !important;
}

#nprogress .spinner .spinner-icon {
    border-top-color: var(--color-primary) !important;
    border-left-color: var(--color-primary) !important;
}

/* RESPONSIVE STYLES */

@media (max-width: 1300px) {
    .readzone {
        width: 95vw;
    }
}

@media (max-width: 1300px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1300px) {
    .mobile {
        display: none;
    }
}